$tablet-width: 768px;
$medium-width: 991px;
$desktop-width: 1024px;
$small-width: 501px;

@mixin xs {
    @media (max-width: #{$small-width - 1px}) {
        @content;
    }
}
@mixin small {
    @media (min-width: #{$small-width}) and (max-width: #{$tablet-width - 1px}) {
        @content;
    }
}
@mixin tablet {
    @media (min-width: #{$tablet-width}) and (max-width: #{$medium-width - 1px}) {
        @content;
    }
}
@mixin medium {
    @media (min-width: #{$medium-width}) and (max-width: #{$desktop-width - 1px}) {
        @content;
    }
}

@mixin desktop {
    @media (min-width: #{$desktop-width}) {
        @content;
    }
}
.app {
    font-size: 14px;
    font-family: "Maven Pro";

    line-height: 1.42857143;
    color: #333;
    background-color: #fff;
}
.alert {
    font-size: 12px !important;
    @include tablet {
        font-size: 10px !important;
    }
    @include small {
        font-size: 8px !important;
    }
    @include xs {
        font-size: 8px !important;
    }
}
